h1 {
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
#div_temas {
    display: none;
}
.product_cell {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}
.product_cell:hover {
    border: 2px dashed red;
    box-shadow:0px 0px 10px red ;
    cursor:grab;
} 
.product_cell:hover>img {
    opacity: 50%;
    border: 4px solid black;
}

.laptop > h2 {
    color: blue;
}
.laptop > h3 {
    color:cadetblue;
    text-align: right;
    padding-right: 10px;
}

.celular >h2 { 
    color:red;
}
.celular >h3 { 
    color:brown;
    text-align: right;
    padding-right: 10px;
}
.audifonos >h2 { 
    color: green;
}
.audifonos >h3{
    color:aquamarine;
    text-align: right;
    padding-right: 10px;
}
.div_form {
    width: 400px;
    margin: 20px auto;
}
.div_form > form > input { 
    height: 40px;
    border-radius: 20px;
    width: 70%;
    font-size: 20px;
    padding-left: 20px;
}
