body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(21, 21, 21);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 70px;
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(250, 188, 2), 1px 1px 0 rgb(245, 183, 0),
      2px 2px 0 rgb(240, 178, 0), 3px 3px 0 rgb(235, 173, 0),
      4px 4px 0 rgb(230, 168, 0), 5px 5px 0 rgb(225, 163, 0),
      6px 6px 0 rgb(220, 158, 0), 7px 7px 0 rgb(215, 153, 0),
      8px 8px 0 rgb(210, 148, 0), 9px 9px 0 rgb(205, 143, 0),
      10px 10px 0 rgb(200, 138, 0), 11px 11px 10px rgba(0, 0, 0, 0.6),
      11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  h1 { 
        display: block;
        position: absolute;
        -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
        -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
        -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
        animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
      }
      
      @-webkit-keyframes moveX {
        from { left: 0; } to { left: 100%; }
      }
      @-moz-keyframes moveX {
        from { left: 0; } to { left: 100%; }
      }
      @-o-keyframes moveX {
        from { left: 0; } to { left: 100%; }
      }
      @keyframes moveX {
        from { left: 0; } to { left: 100%; }
      }
      
      @-webkit-keyframes moveY {
        from { top: 0; } to { top: 50%; }
      }
      @-moz-keyframes moveY {
        from { top: 0; } to { top: 50%; }
      }
      @-o-keyframes moveY {
        from { top: 0; } to { top: 50%; }
      }
      @keyframes moveY {
        from { top: 0; } to { top: 50%; }
      }
  
  