* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
}

.moviemain {
  display: flex;
  flex-direction: column;

}

.moviecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.moviemain>h1 {
  color: rgb(0, 228, 217);
  text-align: center;
  align-items: center;

}

.movies {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #141313;
  border: 3px solid #FFFFFF;
}

.movies img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.movies h4 {
  margin-bottom: 10px;
}

.movies p {
  margin-bottom: 10px;
}

h1 {
  margin: 10px;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search button {
  padding: 10px;
  border: 1px solid rgb(255, 31, 31);
  border-radius: 5px;
  background-color: rgb(255, 94, 94);
  cursor: pointer;
}